/*@charset "UTF-8";*/

body{
	font-family: 'メイリオ','Hiragino KakuGothic Pro',sans-serif;
	background-color: #FFCC99;
	background-image: url(kabe_snow03.gif);
	margin: 100
}

/*コンテナ*/
div#conta{
	 width: 760px;
	 margin-left: auto;
	 margin-right: auto
}

/*ヘッダー*/
header#pageheader{
	/*background-color:#FFCC99;*/
	background-image: url(PAK75_yoridorimakaron20140304_TP_V.jpg);
	padding: 28px 20px 150px
	}

header#pageheader h1{
	margin:0;
	color:#660000
}

header#pageheader p{
	font-size:2em;
	margin: 0;
	color:#993366;
	font-weight: bolder;
}

/* コンテンツ */
article	{
	width: auto;
	margin-left: auto;
	margin-right: auto
}

article header{
border: solid 3px #6600CC;
margin: 20px 0 10px;
padding: 10px;
height: 80px;
/*border-radius: 5px;
-webkit-box-shadow: 0px 2px 3px #cccccc,0px 0px 4px 3px #ffffff inset;
box-shadow: 0px 2px 3px #cccccc,0px 0px 4px 3px #ffffff inset;*/
background-color: rgba(255,255,255,0.5)
}

article header h1{
	background: none;
	/*font-size: 28px;*/
	color: #330033;
	line-height: 45px;
	padding: auto;
	margin: auto;
	font-weight: normal;
	float: left
}

article header p{
	font-size: 16px;
	color: #444444;
	margin-left: 200px
}

article section{
	font-size: 20px;
	color:#330033;
	clear: both;
	border:solid 3px #6633FF;
	margin:  5px 0 10px;
	padding: 8px;
	border-radius: 5px;
	/*overflow: hidden;*/
}

article section p{
	font-size: 15px
}

footer	{
	background-image: url(illust3781.png);
	/*background-repeat: repeat-x;*/
	width: 760px;
	margin-top: 0;
	padding-top: 8px;
	clear: both;
	max-height: 30px;
}

small{
	font-size: 0.75em;
	font-style: normal;
	text-align: center;
	display:block
}