/*@charset "UTF-8";*/

body{
	font-family: 'メイリオ','Hiragino KakuGothic Pro',sans-serif;
	background-color: #FFCC99;
	background-image: url(27.gif);
	margin: 100
}

/*コンテナ*/
div#container{
	 width: 760px;
	 margin-left: auto;
	 margin-right: auto
}

/*ヘッダー*/
header#pageheader{
	/*background-color:#FFCC99;*/
	background-image: url(AXIS93_gardens_TP_V1.jpg);
	padding: 28px 20px 150px
	}

header#pageheader h1{
	margin:0;
	color:#660000
}

header#pageheader p{
	font-size:0.9m;
	margin: 0;
	color:#993366
}


/*コンテンツ*/
article{
	width: 564px;
	float:right;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px
}

article header > h1{
	background-color: #336600;
	font-family: sans-serif;
	font-size: 0.875em;
	color: #ffffff;
	line-height: 28px;
	padding-left: 6px;
	margin-top: 20px;
	margin-bottom: auto
}

article section h1{
	background-color: #66FF66;
	font-size: 1em;
	line-height: 25px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 0
}

article p{
	font-size: 0.9em;
	line-height: 1.8;
	margin-top: 10px;
}

/*サイドバー*/
div#sidebar{
	width: 166px;
	float: left;
	margin-bottom: 25px;
}

div#sidebar nav ul{
font-size: 0.75em;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
	line-height: 0;
	margin-top: 15px
}

div#sidebar nav li{
	list-style-type: none
}

div#sidebar nav li a{
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: #ffffff;
	background-color: #FF9900;
	border-bottom: double; 1px #FF6600;
	padding-left: 10px
}

div#sidebar nav li a:hover	{
	background-color: #FFCC00
}

div#sidebar nav li:first-of-type a:hover{
	border-radius:5px 0 0 5px
}

/*フッター*/
footer	{
	background-image: url(illust3781.png);
	/*background-repeat: repeat-x;*/
	width: 760px;
	margin-top: 0;
	padding-top: 8px;
	clear: both;
	max-height: 30px;
}

small{
	font-size: 0.75em;
	font-style: normal;
	text-align: center;
	display:block
}